/*
  .centrado {
    background: yellow;
    width: 450px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
  } */

   /*.test {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    background-color: yellow;
  } */



